body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-right: 260px;
  padding: 20px;
  width: calc(100% - 260px);
  box-sizing: border-box;
}

.url-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.url-form input[type="search"],
.url-form input[type="text"] {
  flex: 1 1 200px;
  padding: 8px;
  font-size: 14px;
}

.url-form select {
  width: 150px;
  padding: 8px;
  font-size: 14px;
}

.url-form button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 240px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  text-align: absolute;
  font-size: 16px;
  margin: 5px 0;
  height: 100px;
  overflow: hidden;
}

.product-card p {
  text-align: absolute;
  font-size: 14px;
  margin: 4px 0;
  height: 60px;
}



.old-price {
  text-align: absolute;
  color: red;
  text-decoration: line-through;
 
}

.product-card a {
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-top: auto;
  display: block;
}

.alt-suppliers {
  margin-top: 10px;
  font-size: 14px;
}

.alt-suppliers summary {
  font-weight: bold;
  cursor: pointer;
}

.alt-suppliers ul {
  margin-top: 5px;
  padding-left: 15px;
}

.alt-suppliers li {
  margin-bottom: 6px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 60px;
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
  height: calc(100% - 60px);
  z-index: 1000;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar .btn {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sidebar .btn:hover {
  background-color: #0056b3;
}
.button .btn:hover {
  background-color: #0056b3;
}
